.LoginMain{
 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
  
   overflow: hidden;
   
}



 .AuthImage{
   
height:100vh;
width: 100vh;


}



/* .image{
    width: 110vh;
} */

.wrapper{
    height:100vh;
    width: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
}

#loginForm{
width: 50%;
padding: 50px;
border-radius: 20px;
}



.wrapper h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 50px 0;
}

.input-box input{
    width: 100%;
    height: 140%;
    background : transparent;
    /* border: 1px solid rgb(15, 36, 220); */
    border-radius: 40px;
    font-size: 23px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: black;
    font-size: 22px;
    font-weight: 700;

}

.error {
    
    /* margin-left: 25px; */
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 700;
  }

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 25px;

}



.wrapper .forgot-password{
   text-align: right;
    
    /* margin: -15px 0 15px; */

    margin-bottom: 20px ;
}


.forgot-password a{
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-weight: 800;
}

.forgot-password a:hover{

    font-weight: 800;
   text-decoration: underline;
}



.wrapper button {
    position: relative;
    width: 100%;
    height: 60px;
    background: #050505;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 28px;
    color: #f8f6f6;
    font-weight: 800;
    overflow: hidden;
}

.wrapper button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    pointer-events: none;
}

.wrapper button:hover {
    width: 100%;
    transition: 0.6s;
    background: rgba(51, 237, 138, 0.478);
    color: #050505;

    
}






.wrapper .registration-link{
     font-size: 20px;
    text-align: center;
     margin-top: 20px;
}

.link{
    color: black;
    text-decoration:none;
    font-weight: 700;
}


.link:hover{
    color: black;
    text-decoration: underline;
    font-weight: 800;
}


