.navbar {
    width: 100%;
    height: 120px;
    background-color: #fcfdff;
    display: flex;
    flex-direction: row;
  }
.logo{
  display: flex;
  margin-left: 100px;
}

  .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
  }

 .active {
  
    font-weight: bold;
    color: #2857f5; 
  }
  
  .navbar .leftSide {
    flex: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding-left: 150px; */
  }
  
  
  .navbar .rightSide {
    flex: 33.33%;
    height: 100%;
    display: fl
    ex;
    align-items: center;
    justify-content: center;

  }

  
  .navbar a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    margin: 30px;
    font-size: 30px;
    
  }

 
  .navbar a:hover {
  

   font-weight: 800;
    
    font-size: 30px;
    
  }

  .navbar .rightSide .navbarButton {
   background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 70px;
  }

  .navbar .rightSide svg {
    font-size: 40px;
  }
   .burgerIcon{
    font-size: 40px;
    margin-right: 100px;
   }
  
   .navbarButton{
    border: 0px;
    background: transparent;
   }
  


 
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
   
    margin: 20px;
  }
 
  @media only screen and (max-width: 1460px) {
    .navbar .rightSide Link {
      display: none;
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
    .navbar .leftSide .hiddenLinks{
      display: inline;
    }
    .navbar .rightSide {
      display: none;
    }
  
    .navbar .rightSide .navbarButton {
      display: inline;
      /* border: 2px solid black; */
    }
    .burgerIcon{
      display: inline;
    }
  }
  
  
  @media only screen and (min-width: 1460px) {
    .navbar .rightSide .navbarButton {
      display: none;
    }
    .burgerIcon{
      display: none;
    }

  
    .navbar .leftSide .hiddenLinks{
      display: none;
    }
  }


  