.registrationMain{
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}



.AuthImage{
   
  height:100vh;
  width: 100vh;
  
  }
  


  #registrationForm{
    padding: 70px;
    width: 55%;
    border-radius: 30px;
  }

  #registerButton{
    height: 60px;
  }

